button {
  background-color: #b89c78;
  color: #fff;
  padding: 10px 15px;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 40px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.custom-button {
  color: #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c5b39b;
}

.dropdown-selector {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown-selector option[disabled]:first-child {
  color: #888;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
}

label {
  user-select: none;
}

input[type='checkbox']:checked + label {
  color: #b89c78;
}

label {
  display: block;
  font-weight: bold;
}

.basicInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1000;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-selector {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 230px;
  box-sizing: border-box;
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.dropdown-options.visible {
  display: block;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f2f2f2;
}
